body {
  margin: 0;
}

.header_logo {
  background: black;
}

#header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  background-color: black;
}

.nav_links {
  display: flex;
  justify-content: space-evenly;
  background-color: silver;
}
.nav_links a {
  text-decoration: none;
  padding: 2vh;
  color: black;
}
.nav_links a:hover {
  background-color: gray;
}

#menu {
  text-align: center;
}

.menu_container {
  display: flex;
  flex-flow: row-wrap;
  justify-content: center;
}

.menu_list {
  text-align: left;
  list-style-type: none;
  border-top: 1px dashed;
  border-bottom: 1px dashed;
}
.menu_list li {
  font-size: 0.7em;
  padding: 0.7em;
}